.alert-success {
    background-color: rgb(161, 255, 161);
    color:rgb(0, 0, 0);
}

.alert-warning {
    background-color: yellow;
    color:rgb(0, 0, 0);
}

.alert-danger {
    background-color: rgb(255, 142, 142);
    color:rgb(0, 0, 0);
}

.alert-info {
    background-color: rgb(98, 245, 255);
    color:rgb(0, 0, 0);
}

nav {
    height: 5%;
    
}
nav li {
    display: inline-block;
    margin: 10px;
}
nav li a{
    color: rgb(255, 255, 255); 
}


.nav-bg-custom {
    background-color: rgb(37, 38, 39);
}
.nav-link, .navbar-brand {
    color: rgb(242, 239, 233);
}

body, .bg-custom {
    background-color: rgb(144, 78, 85);
}

.card-bg-custom {
    background-color: rgb(242, 239, 233);
}

.clauster-logo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 3vw;
}

.btn-custom {
    background-color: rgb(37, 38, 39);
    color: rgb(242, 239, 233);
}